@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis de cores para o tema claro e escuro */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-50 text-gray-800 font-sans; 
  background-color: var(--background);
  color: var(--foreground); 
  font-family: "Montserrat", sans-serif; 
}
